
button.button-rounded, .button.button-rounded {
  border-radius: 20px;
  border-color: transparent;
  padding: .3rem .7rem;
  line-height: 1.6;
  height: auto;
  text-transform: none;
  letter-spacing: 0;
}

button.button-primary, .button.button-primary {
  background-color: var(--color-primary);
  color: var(--color-black);
  outline: 0;
  border: none;
}

.button.button-primary:hover,
button.button-primary:hover {
  opacity: .7;
  background-color: var(--color-primary);
  color: var(--color-black);
  outline: 0;
}
