.card {
  border: 1px solid var(--color-light-gray);
  background-color: var(--color-white);
  box-shadow: 0 0 4px var(--color-light-gray);
}

.card-rounded {
  border-radius: var(--border-radius);
}

.card.complete{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
