html {
  font-size: 70%;
}
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  color: #222;
  font-family: var(--font-system);
  background-color: var(--color-off-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-system);
  font-weight: var(--headings-font-weight);
  line-height: var(--headings-line-height);
  color: var(--headings-color);
  margin-top: 0;
  margin-bottom: var(--headings-margin-bottom);
  letter-spacing: 0;
}

h1 {
  font-size: var(--headings-font-size-h1);
}

h2 {
  font-size: var(--headings-font-size-h2);
}

h3 {
  font-size: var(--headings-font-size-h3);
}

h4 {
  font-size: var(--headings-font-size-h4);
}

h5 {
  font-size: var(--headings-font-size-h5);
}

h6 {
  font-size: var(--headings-font-size-h6);
}

p {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  margin-bottom: var(--spacing-tiny);
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
