.select-box {
  border: 1px solid var(--color-light-gray);
  padding: var(--spacing-tiny);
  color: var(--color-text-info);
  background-color: var(--color-white);
  cursor: pointer;
  z-index: 99;
}

.select-box:hover {
  border: 1px solid var(--color-blue);
}

.select-box.active, .select-box:hover {
  color: var(--color-blue);
}

.select-box span {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight);
}

.select-box i {
  font-style: normal;
  font-weight: var(--font-weight);
  float: right;
}

.select-options {
  border: 1px solid var(--color-light-gray);
  max-height: 280px;
  overflow-x: scroll;
  color: var(--color-black);
  z-index: 90;
}

.select-options > div, .select-options label {
  cursor: pointer;
}

.select-options > div:hover, .select-options > div.selected {
  background-color: var(--color-selected-option);
}

.select-options input, .select-options label, .select-options button {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

.select-options label {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-small);
  float: left;
}

.select-box-container {
  overflow-x: hidden;
  max-height: 410px;
}

.submit-section {
  z-index: 99;
  border-top: 1px solid var(--color-light-gray);
}

.message-container {
  max-height: 180px;
}

@media (max-width: 768px) {
  .select-options {
    max-height: none;
    height: auto;
    border: none;
    overflow-x: visible;
  }
  .select-box-container {
    overflow-x: scroll;
  }
}
