@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {

  /* colors */
  --color-primary: #FFB100;
  --color-white: white;
  --color-blue: #2857A2;
  --color-off-white: #FAFAFA;
  --color-light-gray: #DDDDDD;
  --color-gray: #707070;
  --color-black: #000000;
  --color-light-red: #FFEDED;
  --color-dark-red: #FF3939;
  --color-text-info: #323232;
  --color-selected-option: #F7F7F7;

  /* Fonts */
  --border-radius: 3px;
  --font-family: var(--font-system);
  --font-size: 1rem;
  --font-size-big: 1.25rem;
  --font-size-medium: 1rem;
  --font-size-small: .875rem;
  --font-size-tiny: .7rem;
  --font-weight-light: 300;
  --font-weight: 400;
  --font-weight-bold: bold;
  --line-height: 1.5;
  --text-muted: var(--color-gray);
  --font-system: 'Roboto', sans-serif;
  --headings-font-family: var(--font-system);
  --headings-font-weight: var(--font-weight-bold);
  --headings-line-height: 1.1;
  --headings-margin-bottom: .5rem;
  --headings-color: inherit;
  --headings-font-size-h1: 2rem;
  --headings-font-size-h2: 1.3125rem;
  --headings-font-size-h3: 1.2rem;
  --headings-font-size-h4: 1.15rem;
  --headings-font-size-h5: 1.12rem;
  --headings-font-size-h6: 0.95rem;

  /* Spacing Utilties */
  --component-spacing: 1.3125rem;
  --spacing-tiny: calc(var(--component-spacing) * .5);
  --spacing-small: var(--component-spacing);
  --spacing-medium: calc(var(--component-spacing) * 2);
  --spacing-big: calc(var(--component-spacing) * 4);
}
