.slide-leave-active, .slide-enter-active, .glide-leave-active, .glide-enter-active, .slide-up-leave-active, .slide-up-enter-active {
  transition: all .4s ease-in-out;
}

.slide-up-enter {
  transform: translateY(-20%);
  opacity: 0;
}

.slide-enter {
  transform: translateX(130%);
  opacity: 0;
}

.slide-leave-to, .slide-leave-active {
  transform: translateX(-130%);
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.glide-enter {
  transform: translate(150%, -50%);
  opacity: 0;
}

.glide-leave-to, .glide-leave-active {
  transform: translate(-150%, 50%);
  opacity: 0;
}

