<template>
  <div class="col-xs-100">
    <div
      class="card card-rounded complete col-xs-90 col-md-40 padding-small padding-t-medium">
      <h2>
        Thank You!
      </h2>
      <p class="margin-b-small text-muted margin-b-small">The skills you chose were:</p>
      <p v-for="checkedSkill in checkedSkills" class="text-muted margin-y-none">{{checkedSkill}}</p>
    </div>
  </div>
</template>
<script>
  export default {
    name:'complete',
    props: ['checkedSkills']
  }
</script>
