<template>
  <div class="alert col-xs-90 col-md-40 col-xs-offset-5 col-md-offset-30 padding-small"
       key="error">
    <h2>Whoops!</h2>
    <p class="text-medium text-muted">Make sure you have selected at least 5 skills.</p>
  </div>
</template>
<script>
  export default {
    name: 'error'
  }
</script>
