<template>
  <div class="row padding-t-medium">
    <transition name="glide" mode="in-out">
      <div class="col-xs-100" v-if="!complete" key='in-progress'>
        <div class="col-xs-100 message-container padding-t-medium margin-t-big">
          <transition name="slide" mode="out-in">
            <Error v-if="error && checkedSkills.length < 5"/>
            <Message v-else/>
          </transition>
        </div>
        <div
          class="card col-xs-90 col-md-40 col-xs-offset-5 col-md-offset-30 margin-t-small">
          <SkillsCard :checkedSkills.sync="checkedSkills"/>
          <div class="col-xs-100 submit-section padding-small">
            <button class="button button-rounded button-primary text-medium float-right" @click="submitSkills">
              Save and continue
            </button>
          </div>
        </div>
      </div>
      <Complete v-else key="complete" :checkedSkills="checkedSkills"/>
    </transition>
  </div>
</template>
<script>
  import Error from './error'
  import Message from './message'
  import SkillsCard from './skillscard'
  import Complete from './complete'

  export default {
    components: {
      Error,
      Message,
      SkillsCard,
      Complete
    },
    data() {
      return {
        complete: false,
        error: false,
        checkedSkills: []
      }
    },
    methods: {
      submitSkills: function () {
        if (this.checkedSkills.length < 5) {
          this.error = true
        } else {
          this.complete = true
        }
      }
    }
  }
</script>

