<template>
  <div class="card card-rounded col-xs-90 col-md-40 col-xs-offset-5 col-md-offset-30 padding-small">
    <h2>Select your skills</h2>
    <p class="text-medium text-muted">Please choose at least 5 most important skills you have.</p>
  </div>
</template>
<script>
  export default {
    name: 'message'
  }
</script>
