<template>
  <div class="col-xs-100 padding-t-small padding-x-small margin-b-small">
    <p>{{checkedSkills.length === 0 ? 'No' : checkedSkills.length}} skill{{checkedSkills.length === 1 ? '' :
      's'}}
      selected</p>
    <div class="col-xs-100 select-box-container">
      <div class="col-xs-100" v-for="(skillOption, key) in skillOptions">
        <div v-if="!isMobile" class="col-xs-100 select-box padding-x-small" :class="currentSkill === key ? 'active' : ''" @click="setCurrentSkillOption(key)">
          <span>{{key}}</span>
          <i>&#43;</i>
        </div>
        <transition name="slide-up">
          <div class="col-xs-100 select-options padding-x-none" v-if="key === currentSkill || isMobile">
            <div class="col-xs-100 padding-tiny" v-for="skill in skillOption"
                 :class="listCheckedSkills.includes(skill) ? 'selected' :''" @click="setSkillValue(skill)">
              <div class="checkbox-btn">
                <input type="checkbox" :value="skill" :id="skill.replace(/[^A-Z0-9]/ig, '_')" name="rc2"
                       v-model="listCheckedSkills">
                <label :for="skill.replace(/[^A-Z0-9]/ig, '_')">{{skill}}</label>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'skillscard',
    props: ['checkedSkills'],
    data() {
      return {
        isMobile: false,
        listCheckedSkills: this.checkedSkills,
        currentSkill: '',
        skillOptions: {
          'Accounting and finance skills': [
            'Accounting',
            'Analytics',
            'Annual accounts',
            'Auditing of accounts',
            'Bookkeeping',
            'Budgeting, financial planning',
            'Cash management',
            'Compliance',
            'Corporate finance',
            'Corporate tax',
            'Cost tracking',
            'Credit auditing'

          ],
          'Computing and software development (IT) skills': [
            'Agile and Lean methodologies',
            'Algorithms',
            'Computer, laptop maintenance and repair',
            'Cryptography',
            'Database servers',
            'File management and data backups',
            'Information Security',
            'iOS development',
            'JavaScript',
            'Linux',
            'Non-relational databases',
            'Object-oriented databases',
            'Operating systems',
            'Server hosting and management',
            'Software architecture',
            'System and network security',
            'Testing and debugging',
            'Unit testing',
            'User experience design',
            'Virtualization',
            'Web Analytics'

          ],
          'Telecommunications and networks skill': [
            'Cryptography',
            'Disaster management',
            'Firewalls',
            'IP protocol',
            'Mobile data',
            'Network design',
            'Network optimization',
            'Power and energy solutions',
            'Server management',
            'System and network security',
            'Technical documentation',
            'Telecom industry standards',
            'VoIP'

          ]
        }
      }
    },
    created() {
      window.addEventListener('resize', this.handleResize)
      this.handleResize();
    },
    methods: {
      setCurrentSkillOption: function (currentSkill) {
        let prevSkill = this.currentSkill
        this.currentSkill = prevSkill === currentSkill ? ' ' : currentSkill
      },
      setSkillValue:function (skill) {
        if (!this.listCheckedSkills.includes(skill)){
          this.listCheckedSkills.push(skill)
        }

      },
      handleResize: function () {
        this.isMobile = window.innerWidth < 768
      },
    },
    watch:{
      listCheckedSkills: function(){
        this.$emit('update:checkedSkills', this.listCheckedSkills)
      }
    }
  }
</script>
