<template>
  <div class="container">
    <div class="row">
      <Home/>
    </div>
  </div>
</template>

<script>
  import Home from './components/Home'
export default {
  name: 'app',
  components: {
    Home
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

